.details-container {
  text-align: center;
  padding: 2rem;
  display: flex;
  justify-content: center;
  /* background-color: #f9e3d8; */
  background: linear-gradient(to right, #f9e3d8, #fff);

  /* background: url('../images/bg-1.jpg');
  background-size: cover; */
}
.couple-img {
  width: 80%;
  border-radius: 100%;
  border: 2px solid #8c2e3e;
}

.details-container p {
  font-weight: 200;
  line-height: 1.5rem;
}

.details-container h5 {
  font-size: 1rem;
}

.name-container {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.details-container .save {
  margin-top: 4rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.couple-name {
  font-family: 'Marck Script', cursive;
  font-size: 4rem;
  color: #8c2e3e;
}

.details-container h3,
h4 {
  font-family: 'Marck Script', cursive;
  font-size: 2rem;
  color: #8c2e3e;
}

.time {
  font-weight: normal;
  font-size: 1.2rem;
}

hr {
  width: 70%;
  border-color: #8c2e3e;
}

.qr {
  width: 50%;
}

a {
  text-decoration: none;
  color: #8c2e3e;
}

.maps {
  border: 1px solid #8c2e3e;
  width: fit-content;
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1rem;
}

.maps:hover {
  background-color: #8c2e3e;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .details-container {
    padding: 5rem;
  }
}
