.welcome-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  color: white;
  background: linear-gradient(#f9e3d8, #fff);
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/hero-bg.jpg') content-box no-repeat; */
  /* background-size: cover; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: ease-in-out 1s;
  cursor: pointer;
  z-index: 100;
}

.inactive {
  top: -1000px;
}

.welcome-layout h3 {
  font-family: 'Marck Script', cursive;
  font-size: 2rem;
  color: #8c2e3e;
}

.welcome-btn {
  background-color: #8c2e3e !important;
}
